[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
colorama = "*"
ipyparallel = "*"
curio = "*"
trio = "*"
backcall = "==0.1.0"
coverage = "*"
decorator = "==4.4.1"
docutils = "*"
ipykernel = "*"
jedi = "==0.15.1"
nbformat = "*"
numpy = "*"
parso = "==0.5.1"
pexpect = "==4.7.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==2.0.10"
ptyprocess = "==0.6.0"
pyparsing = "*"
pytest = "*"
six = "==1.13.0"
testpath = "*"
traitlets = "==4.3.3"
wcwidth = "==0.1.7"
Pygments = "==2.4.2"
ipython_genutils = "==0.2.0"
Pillow = "*"
Sphinx = "*"

[requires]
python_version = "3.8"
