[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
pytest = "*"

[packages]
ipykernel = "*"
sphinx-rtd-theme = "*"
docrepr = "*"
matplotlib = "*"
Sphinx = "*"
pytest = "*"
ipython-doctest-plugin = {editable = true,path = "./IPython/testing/plugin"}
nose = "*"
testpath = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
