Pygments
backcall
codecov
colorama
coverage
curio
decorator
docutils
ipykernel
ipyparallel
ipython-genutils
jedi
matplotlib
nbformat
nose
numpy
parso
pexpect
pickleshare
pillow
prompt-toolkit
ptyprocess
pyparsing
pytest
six
sphinx
testpath
traitlets
trio
wcwidth
wheel
