Pygments
backcall==0.1.0
colorama
coverage
curio
decorator==4.4.1
docutils
ipykernel
ipyparallel
ipython-genutils==0.2.0
jedi==0.15.1
matplotlib
nbformat
numpy
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pillow
prompt-toolkit==2.0.10
ptyprocess==0.6.0
pyparsing
pytest
six==1.13.0
sphinx
testpath
traitlets==4.3.3
trio
wcwidth==0.1.7
